
/* FONTS */

@font-face {
    font-family: "katana_2";
    src: url("../fonts/katana_2/KATANA.ttf");
}
@font-face {
    font-family: "shuriken";
    src: url("../fonts/the_last_shuriken/The Last Shuriken.ttf");
}
@font-face {
    font-family: 'hiro_misake';
    src: url("../fonts/hiro_misake/HIROMISAKE.ttf");
}

/* CONFIG GERAIS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: 0.3s;
}
html,body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
section {
    width: 100vw;
    height: 100vh;
}
p,h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 5px #0000009c;
}
h2 {
    font-family: 'hiro_misake';
    font-size: clamp(1.5rem,2vw,7rem);
}
ul {
    list-style: none;
}
/* HOME */

section#home {
    position: relative;
    height: 50vh;
    align-items: center;
    background-image: url("https://byfood.b-cdn.net/api/public/assets/56680/content?optimizer=image");
}
#home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.295) );
} 
#titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: clamp(2.3rem,3vw,10rem);
    font-family: 'katana_2';
    white-space: nowrap;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 3px #35000098;
    z-index: 1;
}
#arrow_down {
    position: absolute;
    scale: 2;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 3px #f309098a;
    cursor: pointer;
    z-index: 1;
}
#arrow_down:hover {
    fill: red;
}
/* REGIOES DO JAPÃO */

#container_regioes_do_japao {
    position: relative;
}
#container_regioes_do_japao > h2 {
    margin: 1.5rem 0 0 0;
}
#lista_de_lugares {
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}
#lista_de_lugares::-webkit-scrollbar {
    display: block;
    height: 12px; 
    background: #fff;
    border-radius: 6px; 
}
#lista_de_lugares::-webkit-scrollbar-track {
    background: #ffe6e6; 
    border-radius: 6px;
}
#lista_de_lugares::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #e60000, #ff4d4d); 
    border-radius: 6px; 
    border: 2px solid #fff; 
}
#lista_de_lugares::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #ff0000, #e60000); 
}
#lista_de_lugares > li {
    position: relative;
    display: block;
    min-width: 300px;
    height: 450px;
    margin: 0 20px;
    background-color: red;
    border-radius: 2px;
    border: 1px solid whitesmoke;
}
#container_text_preview {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.295) );
    align-items: center;
    justify-content: space-around;
}
#container_text_preview > h3 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    font-family: shuriken;
    letter-spacing: 2px;
}